<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80vh;
  background-image: url("../../assets/Images/bg.jpg");
  background-size: cover;
  padding:0 1rem;
}

.right {
  flex: 1;
  /* width: 40%; */
  max-width: 600px;
  margin-left: 1.5rem;
  position: static;
  /* margin: 20px, auto; */


}

.left {
  flex: 1;
  max-width: 600px;

  padding: 40px;

  /* margin-right: 1.5rem; */
  position: static;
  /* margin: 20px, auto; */
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    margin-top: 100px;
    max-width: 80%;
  }
  .right {
    display: none;
    margin-top: 50px;
  }
  .left {
    margin-top: 50px;
  } 
  
}

=======
.xyz{
    background-image: url("../../../public/10001\ \(2\).svg");
    background-size: cover;
    background-color:#F8F8F8 ;
    
    
}
.signup_login{
width: 80% !important;
height: 1000vh !important;
background-color: red !important;
z-index: 1;
}

/* Container for the sliding effect */
.slide {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* When the container is active, we move it */
.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}
>>>>>>> 08fffca24b7ba34d324e1adbb561dedc094039fb
