.groupEach_Questions {
	border-top: solid 2px lightgrey ;
	padding: 10px;
	
}
.groupEach_Questions:hover {
	background-color: rgb(155, 203, 250);
	
}
.each_Questions {
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
	padding-top: 16px;
	
}
.each_Questions p {
	padding-left: 16px;
	margin-left: 8px;
	
}
.question {
	display: flex;
	justify-content: space-between;
	
}
.question div:hover {
	color: black;
	width: 20px;
	height: 20px;
	margin-right: 40px;
	
}
.question_title {
	margin-left: 40;
	font: mono;
	padding: 24px;
	
}

